<%= form_for @student do |f| %>
    <p>
        <%= f.label :name %>:
        <%= f.text_field :name %><br />
    </p>
    <p>
        <%= f.label :mod %>:
        <%= f.text_field :mod %><br />
    </p>
    

    <%= f.submit %>
<% end %>