<%= form_for @duck do |f| %>
    <p>
        <%= f.label :name %>:
        <%= f.text_field :name %><br />
    </p>
    <p>
        <%= f.label :description %>:
        <%= f.text_field :description %><br />
    </p>
        <p>
        <%= f.label :student_id %>:
        <%= f.text_field :student_id %><br />
    </p>
    

    <%= f.submit %>
<% end %>